@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-color:#F1F3F8;
    color:#181E34;
    font-family: 'Fira Sans', sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mono {
    font-family: 'Fira Mono', monospace;
}
