@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
    background-color:#181E34;
    font-family: 'Fira Sans', sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mono {
    font-family: 'Fira Mono', monospace;
}
.hidden {
    
}

.bg-image {
    background-image: url(../public/assets/background.jpg);
}

.text-color-lol {
    color:#c4b998;
    color:rgb(255, 255, 255);
}

.bg-lol {
    background-color:#c4b998;
}